 /* this will override the formmanager.css classess */
/* 
 html {
	font-size: 13px; 

	
    } */
    
 body {

     background: url(../../public/images/background.png)!important;
     /* background: url(../../public/images/background.jpg)!important; */
    }
    

/* label {
	
    color:blue!important;
} */